{
  "importOrder": ["^(?!src|\\.)", "^src", "^\\."],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "singleQuote": false,
  "trailingComma": "all"
}
