name: api

on:
  push:
    branches:
      - "main"
    paths:
      - "services/api/**"
  pull_request:
    branches:
      - "main"
    paths:
      - "services/api/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./services/api
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install NodeJS dependencies
        run: npm ci -D --ignore-scripts

      - name: Run linting
        run: npm run lint:ci

  # Will catch Nestjs runtime error such as incorrect module imm=ports
  test-swagger:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./services/api
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install NodeJS dependencies
        run: npm ci -D --ignore-scripts

      - name: Check if Swagger can build
        run: ./scripts/generate-openapi-spec

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./services/api
    needs: ["lint"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install NodeJS dependencies
        run: npm ci -D --ignore-scripts

      - name: Run tests
        run: npm run test:ci

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: api

  build-and-push-docker-image:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    defaults:
      run:
        working-directory: ./services/api
    env:
      TAG: ghcr.io/johanbook/meet/api:latest
    needs: ["test"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build . --file Dockerfile --tag $TAG

      - name: Push Docker image to ghcr.io
        run: docker push $TAG
